@media (max-width : 768px){
}

@media (max-width : 960px){
	#container{
		width:100%;
		float:none;
	}
	
	#controls{
		width:100%;
		float:none;
		padding:10px 10px;
	}
	
	label{
		display:inline-block;
		width:130px;
	}
	
	#controls p{
		display:inline-block;
	}
	
	input[type="button"], input[type="button"]:active{
		border:0;
		height:auto;
		-webkit-border-radius:0;
		border-radius:0;
	}
}

@media (max-width:600px){
	#controls p{
		display:inline-block;
		width:50%;
	}
	
	.button{
		display:block;
		width:49.5%;
		margin-left:.5%;
		margin-right:0;
	}
}

@media (max-width:320px){
	.button{
		display:block;
		width:100%;
		margin-right:0;
		margin-left:0;
		float:none;
	}
}