/*Reset Styles */
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%; 
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	outline:0;
	border:0;
}

*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@-webkit-viewport {
    width:device-width;
}

@-moz-viewport {
    width:device-width;
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

@viewport {
    width:device-width;
}

/*Body Styles */
body{
	background:#fcfcfc;
	font-family:'Gudea', Arial;
	color:#333;
}

a, a:link, a:visited{
	color:#333;
	text-decoration:none;
}

/*Wrapper Style */
.wrapper{
	margin:0 auto;
	width:960px;
	max-width:100%;
}

/*Header Styles */
header{
	background:#ecf0f1;
	background:rgba(219,237,249, .9);
	position:fixed;
	max-width:100%;
	width:100%;
	z-index:100;
}

#logo{
	position:relative;
	top:20px;
	margin-left:10px;
	float:left;
}

#header{
	height:65px;
	position:fixed;
	width:100%;
}

#header #logo{
	top:0;
}

#header #logo img{
	background:#3498db;
	height:70px;
	opacity:1;
}

/*Navigation Styles */
#navigation{
	float:right;
	text-transform:uppercase;
	height:65px;
	overflow:hidden;
	position:relative;
	margin-right:10px;
}

#header #navigation a{
	position:relative;
	display:inline-block;
	height:100%;
	padding:24px 10px 0;
}

#header #navigation a:hover{
	background:#3498db;
	color:#fff;
}

#header #navigation a.active{
	position:relative;
	background:#3498db;
	color:#fff;
}

/*Main Body */
#main-content{
	position:relative;
	top:70px;
	max-width:100%;
}

#main-content .wrapper{
	padding:10px;
}

#container{
	position:relative;
	background:#fff;
	border:1px solid #ccc;
	float:left;
	width:73.95833%;
	max-width:100%;
	margin:0 10px 10px 0;
	overflow:auto;
	min-height:400px;
}

/*Styles for loading*/
#loading{
	width:100%;
}

#loading #title{
	text-align:center;
	background:#efefef;
	padding:10px;
	color:#333;
}

	#loading #message{
		position:relative;
		width:70%;
		margin:0 auto;
		text-align:center;
		color:#ccc;
	}

	#loading #message ul{
		list-style:disc;
		margin:10px 0;
	}

	#loader{
		height:250px;
		margin:0;
	}

	#msg{
	}

	.msg-style{
		background:#EA6153;
		color:#E6E4E2;
		position:fixed;
		width:100%;
		z-index:1000;
	}

	.bold{
		font-size:18px;
		display: block;
		font-size: 23px;
	}

	.reload{
		color:#CCE5F6;
		display: block;
		font-size: 20px;
		margin-top: 8px;
	}

	#msg-body{
		margin:0 auto;
		padding:10px;
		width:960px;
		max-width:100%;
	}

	#msg-body a{
		padding:0 3px;
		color:#fff;
	}

	#msg-body a:hover{
		text-decoration:underline;
	}

/*Controls Styling */
#controls{
	width:22.9166%;
	background:#fff;
	max-width:100%;
	float:left;
	padding:10px;
	position:relative;
	margin:0 0 10px 0;
	border:1px solid #cfcfcf;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
	cursor: hand;
	cursor: pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	margin:7px 10px;
    vertical-align:middle;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/checked.png) no-repeat;
}

input[type="button"]{
	border:0;
	border-bottom:4px solid #ccc;
	padding:7px;
	margin:10px;
	color:#333;
	height:40px;
	background:#ECF0F1;
}

input[type="button"]:active{
	border-bottom:2px solid #ccc;
}

h2.header{
	font-size:18px;
	text-transform:uppercase;
	margin:20px 0 10px;
	position:relative;
	padding:10px 10px 5px;
	border-bottom:1px solid #e0e0e0;
}

.link a:hover{
	background:#ecf0f1;
}

/*Button Styles */
#click-buttons{
	overflow:hidden;
}

.button:nth-child(4){
	margin-right:0;
}

.button{
	height:50px;
	background:#fff;
	margin:5px 0;
	float:left;
	border: 1px solid #ecf0f1;
	width:14.313em;
	width:24.35%;
	margin-right:.83333%;
}

a.button{
	color:#999;
}

.button:hover{
	color:#fff;
}

.button img{
	width:50px;
	height:50px;
}

.button:hover.petrol{
	background:#f5d657;
}

.button:hover.kerosene{
	background:#5faee3;
}

.button:hover.lpg{
	background:#ea6153;
}

.button:hover.nepal{
	background:#ea6153;
}

.button:hover.india{
	background:#2ecc71;
}

.button .info{
	float:left;
	position:relative;
	top:50%;
	line-height:1em;
	margin:-.5em 0 0 15px; 
}

.button img{
	height:100%;
	float:left;
	/*border-radius:5px 0 0 5px;*/
	border-right:1px solid #fff;
	
}

#downloads img{
	height:50px;
	margin:0 5px;
	border:1px solid #ccc;
}

#downloads img:hover{
}

img.lpg{
	background:#e74c3c;
}

img.petrol{
	background:#f1c40f;
}

img.kerosene{
	background:#3498db;
}

img.nepal{
	background:#ff3333;
}

img.india{
	background:#25a25a;
}

img.android:hover{
	background:#97c024;
}

img.ios:hover{
	background:#3498DB;
}

img.windows:hover{
	background:#E74C3C;
}

img.symbian:hover{
	background:#F1C40F;
}

img.blackberry:hover{
	background:#333;
}

img.android{
	background:rgba(151, 192, 36, .7);
}

img.ios{
	background:rgba(52, 152, 219, .7);
}

img.windows{
	background:rgba(231, 76, 60, .7);
}

img.symbian{
	background:rgba(241, 196, 15, .7);
}

img.blackberry{
	background:rgba(51, 51, 51, .7);
}

@media (max-width : 768px){
}

@media (max-width : 960px){
	#container{
		width:100%;
		float:none;
	}
	
	#controls{
		width:100%;
		float:none;
		padding:10px 10px;
	}
	
	label{
		display:inline-block;
		width:130px;
	}
	
	#controls p{
		display:inline-block;
	}
	
	input[type="button"], input[type="button"]:active{
		border:0;
		height:auto;
		-webkit-border-radius:0;
		border-radius:0;
	}
}

@media (max-width:600px){
	#controls p{
		display:inline-block;
		width:50%;
	}
	
	.button{
		display:block;
		width:49.5%;
		margin-left:.5%;
		margin-right:0;
	}
}

@media (max-width:320px){
	.button{
		display:block;
		width:100%;
		margin-right:0;
		margin-left:0;
		float:none;
	}
	
	#names{
		float:none;
		width:100%;
	}
	
	#names li{
		width:100%;
		float:none;
		display:block;
	}
	
	#contact-us{
		width:100%;
		float:none;
	}
}